header, footer {
  background-color: #343a40;
  color: white;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.btn i {
  margin-right: 4px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

img.img-thumbnail {
  object-fit: cover;
}

