.user-table {
  border-radius: 10px;
  border: 2.5px solid black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-collapse: separate;
  border-spacing: 2px 2px;
  background-color: #f8f9f7;   //off-white

  .table-header {
    background-color: #e53935;
    color: #fff;
    font-weight: bold;
  }

  th, td {
    padding: 0.75rem;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;   
  }

  tbody tr:hover {
    background-color: #ffe5e5 !important;
    cursor: pointer;
  }

  .form-check-input {
    transform: scale(1);
    cursor: pointer;
  }
}

/* toggle switch colors */
.form-check-input:checked {
  background-color: #28a745 !important;
  border-color: black !important;
}

.form-check-input:not(:checked) {
  background-color: #6c757d !important;
  border-color: black !important;
}




