.site-footer {
  background: #d60707;
  padding: 0.15rem;
  text-align: center;

  position: fixed;    
  bottom: 0;        
  left: 0;
  width: 100%;     
  z-index: 1000;         

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
    flex-wrap: wrap;

    span, a {
      color: #0f0f0f;
      font-size: 0.75rem;
      text-decoration: none;
    }

    .separator {
      color: #999;   
      font-weight: bold;
    }
  }
}


