.cart-logo {
  height: 80px;
  width: auto;
}

.modal-content {
  border-radius: 30px;
  box-shadow: 0 6px 14px rgba(16, 16, 16, 0.3);
}

.modal-header {
  border-bottom: 2px solid #fff;
}

.modal-footer {
  border-top: 1px solid #ddd;
}

